################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KNNAppGUI/.vs/KNNAppGUI/v15/Server/sqlite3
